---
layout: default
title: "About Recursive Creative"
---

#head
  %h1 About Us

#content
  %h2 John W. Long
  %p
    With a background in programming and design John is one of those rare people that has
    the ability to to help you make wise decisions about the software that you are
    building. He is known for his keen insight and versatility. John is passionate
    about building beautiful and usable web sites and applications. You may already be
    familiar with some of his work on <a href="http://ruby-lang.org">ruby-lang.org</a>,
    <a href="http://pragprog.com/">pragprog.com</a>, or
    <a href="http://terralien.com">terralien.com</a>. John is also the original developer
    behind <a href="http://radiantcms.org">Radiant CMS</a>, the leading content management
    solution for <a href="http://rubyonrails.org">Ruby on Rails</a>.
  
  %h2 Adam Williams
  %p
    Adam is an outstanding developer with a broad base of experience in both Ruby and Java.
    He&#8217;s been using <a href="http://rubyonrails.org">Ruby on Rails</a> since it was
    introduced in late 2004 and has a detailed knowledge of its internals. As a programmer,
    Adam&#8217;s great strength is in systems architecture and design. He has the knowledge
    and skill to break a problem into its various parts and come up with a solution
    that is both robust and maintainable. Adam is an avid test-first developer and is well
    versed in many of the modern Ruby testing frameworks including
    <a href="http://rspec.info/">Rspec</a> and
    <a href="http://ruby-doc.org/stdlib/libdoc/test/unit/rdoc/classes/Test/Unit.html">Test::Unit</a>.