---
layout: default
body_id: "single_column_layout"
title: Recursive Creative Blog Archives
---

#head
  %h1 Blog Archives

#content
  - posts = site.posts.group_by { |p| p.date.strftime("%Y") }
  - posts.keys.sort.reverse.each do |year|
    %h4= year
    %ul
      - posts[year].sort_by(&:date).reverse.each do |post|
        %li= link_to(h(post.title), post.url)